.privacypolicytext {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.buttons {
    color: inherit;
    text-align: right;
    margin-right: auto;
    margin-top: 10px;

}


.title {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: red;
    font-family: 'Courier New', Courier, monospace;
}

.slogan {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.privacypolicytitle {
    text-align: center;
}

.highlight {
    font-family: 'Courier New', Courier, monospace;
    background-color: red;
}

.title1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

button {
    height: 35px;
    width: 150px;
}

del {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: inherit;
}

nav {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:flex-end;
	gap:1rem;
    line-height:1.3;
}


body {
    background-color: black;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
    font-size: x-large;
    font-weight: bolder;
    margin-top: 10px;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
    font-size: x-large;
    font-weight: bolder;
    margin-top: 10px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

footer {
    color: white
}

button {
    border-color: gray;
    background-color: yellow;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
}

img {
    width: 100px;
    border-radius: 15px;
}

body {
    margin-top: 30px;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}